.body {
    height: 100vh;
   
  }
  .container-fluid.bg {
    position: relative;
  }
  
  .overlay {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Change height to 100% for responsiveness */
  }
  
  .content {
    text-align: center;
    padding: 70px 15px; /* Adjust padding for responsiveness */
    position: relative;
    z-index: 1;
    margin-top: 50px;
  }
  
  .content h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  
  .content p {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
  }
  
  .welcome-img img {
    width: 513px;
    height: 476px;
    gap: 0px;
    opacity: 0px;
    border-radius:20px;
    
    
  }
  .welcome-div {
    display: flex;
    margin-top: 450px;
    margin-left: 80px;
    margin-right:60px
    
  }

  .welcome-text {
    margin-left: 50px;
    margin-top: 90px;
    
  }

  #text {
    margin-top: 30px;
    font-size: 16px;
    
  }

  .card {
    width: 348px;
    height: 623px;
    gap: 32px;

  }

  .col h3 {
    font-size: 28px;
  }
/* 
  .btn {
    width: 1px;
    height: 56px;
    padding: 18px 48px;
    border-radius: 15px;
    border: 1px solid transparent;
    
 
  } */

  .news-items {
    margin-top: 50px;
    margin-left: 80px;
    margin-right:60px
    
  }

  .news-img img {
    width: 400px;
    height: 240px; 
  }
 
.news-text {
  margin-left: 70px;
  margin-top: 50px;
}
  
.news-items2 {
  margin-top: 50px;
  margin-left: 80px;
  margin-right:60px
  
}

.news-text2 {
  margin-left: 70px;
  margin-top: 50px;
}
.btn {
    width: 100px;
    height: 50px;
    padding: 18px 48px;
    border-radius: 15px;
    border: 1px solid transparent;
    margin-top: 20px;
    /* display: flex;
    justify-content: flex-end; */
  }

  .events {
    background: rgba(238, 235, 249, 1);
    ;
  }

/* .map {
  
  margin-left: 400px;
} */

.requirements {
  margin-top: 50px;
}

    
  
  
  
@media screen and (max-width: 768px) {
  /* Apply styles for screens smaller than 768px (e.g., tablets and mobile devices) */
  .container-fluid.bg {
    margin-right: 0; /* Adjust the margin-right as needed */
  }
}






  

  










  