
  
  .container-fluid.bg {
    position: relative;
    
    
  }
  
  /* .overlay {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    
  } */
  .carousel-inner {
    position: relative;
  }
  
  .carousel-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(103, 103, 103, 0.5) 0%, #25166F 100%);
    z-index: 1;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    z-index: 2;
  }
  
  .content {
    text-align: center;
    padding-top: 70px; 
    position: relative;
    z-index: 1;
    margin-top: 50px;
    margin-right: 100px;
    
  }
 
  .content h1 {
    color: white;
    font-family: sans-serif; 
    
    
  }

  .content p {
    color: white;
    font-family: sans-serif;
    font-size: 16px; 
    line-height: 24px;
    margin-top: 30px;
  }

  .welcome-img img {
    width: 513px;
    height: 476px;
    border-radius:20px;
    
    
  }

  .welcome-div{
  display: flex;
  margin-top: 50px;
  
}


  

  #text {
    margin-top: 30px;
    font-size: 16px;
    
  }

  .card {
    gap: 32px;

  }

  .col h3 {
    font-size: 28px;
  }

  .btn {
    width: 1px;
    height: 56px;
    padding: 18px 48px;
    border-radius: 15px;
    border: 1px solid transparent;
    
 
  }


  @media (max-width: 767px) {
  .container.d-flex {
    flex-direction: column;
  }

  .raw.mb-3 {
    max-width: 100%;
    margin-top: 20px;
  }

  .col-md-4,
  .col-md-8 {
    width: 100%;
  }

  .card-body {
    text-align: center;
  }

  .card-body.text-center {
    background: rgba(195, 185, 241, 1);
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: 0;
  }

  .card-text.text-center {
    padding-top: 20px;
  }

  .btn.btn-primary,
  .btn.btn-outline-primary {
    width: 100%;
  }
}



 




.btn {
   
    padding: 18px 48px;
    border-radius: 15px;
    border: 1px solid transparent;
    margin-top: 20px;
  
  }

  .events {
    background: rgba(238, 235, 249, 1);
    ;
  }


/* .map {
  
  margin-left: 400px;
} */

.requirements {
  margin-top: 50px;
}






    
  
  
  
  






  

  










  